<?php

$_DVWA = array();
$_DVWA[ 'db_server' ]   = '127.0.0.1';
$_DVWA[ 'db_database' ] = 'dvwa';
$_DVWA[ 'db_user' ]     = 'root';
$_DVWA[ 'db_password' ] = '';
$_DVWA[ 'db_port']      = '3306';

define ('MYSQL', 'mysql');
define ('SQLITE', 'sqlite');


$_DVWA['SQLI_DB'] = getenv('SQLI_DB') ?: MYSQL;


?>
